
.vs/ProjectSettings.json
.vs/shiny-giggle/FileContentIndex/b917dd34-1393-4114-822f-ecbb41c5def1.vsidx
.vs/shiny-giggle/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
data/__pycache__/token.cpython-312.pyc